*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: $bodyFontSize;
}

h1{
  font-size: $header1FontSize;
}

h2{
  font-size: $header2FontSize;
}

h3,summary{
  font-size: $header3FontSize;
}

button{
  border: none;
  margin: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-family: sans-serif;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul{
  text-decoration: none;
}

button:not(.link) {
  display: inline-block;
  padding: 1rem 2rem;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
}

button:not(.link):focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:not(.link):active {
  transform: scale(0.99);
}

button.reset-styles{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
}

a{
  color:$gold1;
}

a:hover{
  color:$gold2;
}

img{
  user-select: none;
}
.icon{
  width:80px;
}

body{
  background-color:$darkGray1;
  color:white;
  font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

details summary::-webkit-details-marker {
  display:none;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

summary {
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.2rem;
}

details.section{
  max-width: 700px;
  width: min(90vw, max(50vw, 500px));
}

details {
  box-sizing: border-box;
  margin-top: 5px;
  background: white;
}
details summary::-webkit-details-marker {
  display:none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}
summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}


[data-panel]{
  background-color: $darkGray2;
  margin: 1rem;
  padding: 0.5rem;
}

[data-panel][open]{
  background-color: $darkGray3;
}
[data-panel] summary{
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 2.2rem;
  color:$gold1;
  user-select: none;
}

[data-panel] summary:hover{
  cursor: pointer;
}

[data-button]{
  text-decoration: none;
  background-color: $gold3;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  padding: 12px 24px;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
}

[data-button]:hover,[data-button]:focus{
  background-color: $gold3;
  box-shadow: 0 20px 25px -15px $shaddowColor;
  outline:none;
}

[data-button]::after{
  border: 1px solid #f5f5f5;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  content: "";
  display: block;
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
  animation-timing-function: cubic-bezier(0.69, 0, 0, 1) !important;
  border-color: $gold4;
}
[data-button]:not(.disabled):hover::after, [data-button]:not(.disabled):focus::after{
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-color: #f5f5f5;
}

[data-page-control]{
  background-color: $gray1;
  color:$lightGray1;
  padding: 0 10px;
  display: block;
  height: 100%;
}

[data-page-control]::after{
  border-color:transparent;
}

[data-page-control]:hover,[data-page-control]:focus{
  background-color: $gray2;
  color:$lightGray1;
}

[data-page-control].disabled{  
  background-color: $gray3;
  color: $gray4;
  cursor: auto;
}

.map-box{
  max-width: 100%;
  position: relative;
  cursor: zoom-in;
}

.map-container{
  height: 0;
  padding-top: 56.25%;
}

.map{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.map-name{
  display: block;
  // background-color: hsla(0deg 0deg 0deg 200%);
  width: 100%;
  position: absolute;
  bottom:0;
  margin: 0;
}

.map-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgb(33,40,51);
  background: linear-gradient(130deg, rgb(20 25 30) 17%, rgba(0,0,0,0) 100%);
}

.item-box:not(.no-map){
  position: absolute;
  z-index: 2;
  background: linear-gradient(
    135deg, #212833 50%, transparent);
  padding: 0.5rem;
  border-radius: 0rem 0rem 1rem 0rem;
  cursor: unset;
}

/* TIPPY THEME */
.tippy-box[data-theme~='destiny-weapon-perk'] {
  border-top: solid rgb(197 197 197) 5px;
  border-radius: 0;
  background-color: rgba(37, 37, 37, 0.842);
}

.tippy-box[data-theme~='destiny-weapon-perk'] .tippy-content{
  margin: 0;
  padding: 0;
}

.tippy-box[data-theme~='destiny-weapon-perk'] .header{
  background-color: black;
  padding: 0.5rem;
}

.tippy-box[data-theme~='destiny-weapon-perk'] .header h1{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.tippy-box[data-theme~='destiny-weapon-perk'] .header h2{
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  color:rgb(156, 156, 156);
}

.tippy-box[data-theme~='destiny-weapon-perk'] .content{
  background-color: transparent;
  padding: 0rem 0.5rem 0.25rem 0.5rem;
  margin: 0;
  color: #e6e6e6;
}