$darkGray1: #14191e;
$darkGray2: #181c25;
$darkGray3: #212833;

$gray1:#747474bf;
$gray2:#858484;
$gray3:#626262;
$gray4:#7c7c7c;
$gray5:#a1a1a1;

$lightGray1: #dfdfdf;

$error: red;

$gold1: #f2c161;
$gold2: #f0ddb8;
$gold3: #b78c25cc;
$gold4:#ffce1f;

$shaddowColor:#00000040;

$header1FontSize:1.75rem;
$header2FontSize:1.5rem;
$header3FontSize:1.25rem;
$bodyFontSize:1rem;